<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>favorite_border</mat-icon>
  </button>
  <span>Fan Listing </span>
  <span class="example-spacer"></span>
  <button mat-raised-button color="warn" (click)="openDialog()" >Add to list </button>
  <button mat-icon-button class="example-icon" (click)="openShare()" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
